*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* body styling */

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(206, 214, 218);
    color: white;
    line-height: 1;
}
header{
    background-color: rgb(228, 141, 19);
    color: white;
    padding: 20px;
    text-align: center;
}
h1{
    margin-bottom: 8px;
}
nav ul{
    list-style: none;
    padding: 10px;
    background-color: rgba(170, 118, 28, 0.812);
    text-align: center;
}
nav ul li{
    display: inline-block;
    margin: 0px 15px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav ul li a:hover{
    text-decoration: underline;
}

/* styling the main */

main{
    padding: 0px 20px;
    color: black;
    width: 90%;
    margin: 20px auto;
    
}
section{
     margin-bottom: 30px;
    padding: 25px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
}
section ul{
    margin-bottom: 15px;
}
section h2{
    margin-bottom: 8px;
    padding-bottom: 4px;
    border-bottom: 1px solid orange;
    color: rgba(154, 52, 52, 0.521);
}
section ul{
    margin-left: 25px;
}

/* footer styling */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 30px;
}